body{
  background-color: white;
  align-items: center;
  }

.Container{
  border :1px solid black;
  width :600px;
  height :350px;
  margin-left: 280px;
  margin-top: 150px;
  background-color:antiquewhite;
}

.Header{
    width:600px;
    height:30px;
    background-color:#637a91;
    color: white;
    font-size :20px;
    text-align: center;
    margin-bottom: 40px;
}

.passwordLabel{
  padding-left: 90px;
}

.labelCss{
  padding-left:120px;
}

.rowSpace{
  margin-top:10px;
}

.buttonCss{
  margin-left:150px;
  height:30px;
  width:300px;
  background-color:#5fcf80;
}

.firstColerrorMsg{
  padding-left: 120px;
  color:red;
}
.secondColerrorMsg{
 margin-right: 28%;
  float: right;   
  color:red;
}

.linkText{
  margin-left:150px;
}